.categories {
	display: none;
	width: 100%;

	@media screen and (min-width: 771px) {
		display: block;
		min-width: 280px;
		max-width: 280px;
		width: 100%;
	}




	&__list {
		border: solid #f6d334;
		border-width: 0 2px 2px 2px;

		&--scroll {

			@media screen and(min-width: 771px) {
				height: 350px;
				overflow-y: auto;
			}

			@media screen and(min-width: 1024px) {
				height: 403px;
				overflow-y: auto;
			}
		}
	}

	&__item {
		display: block;

		&:nth-child(1n+2) {
			border-top: 1px solid #ebeae8;
		}
	}

	&__link {
		display: block;
		padding: 14px 20px;

		color: #242424;
		font-size: 12px;
		text-transform: uppercase;

		font-weight: 700;

		background-color: transparent;

		transition: background-color $anim;

		@media screen and (min-width: 1024px) {
			font-size: 15px;
		}

		&:hover, &:active, &:focus {
			color: #242424;
			text-decoration: none;
			background-color: $brand-color;
		}
	}


	&__link-collapse {
		width: 100%;
		padding: 10px 15px 10px 24px;

		text-decoration: none;
		color: #242424;
	}

	&__icon {
		padding-right: 8px;

		font-size: 10px;
	}

	&__collapse-child {
		.categories__link-collapse {
			padding-left: 44px;
		}
	}

	&__sub-item {
		display: block;
	}

	&__child {
		display: none;
		visibility: hidden;
	}

	&--show {
		display: block;

	}

}

.categories__item.active-bg > a {
	background-color: $brand-light;
}

.collapse {
	display: none;
	visibility: hidden;
}

.collapse-in {
	display: block;
	visibility: visible;
}

.active-color {
	color: $brand-color;
	&:hover, &:active, &:focus {
		color: $brand-color;
		background-color: $white;
	}
}
