.content {
	width: 100%;
	padding: 5px;
	padding-top: 0;
	
	@media screen and (min-width: 771px) {
		max-width: 900px;
		overflow: hidden;
		padding-left: 12px;
	}

	@media screen and (min-width: 991px) {
		padding-right: 0;
	}

	&__title {
		margin-bottom: 10px;

		font-size: 18px;
		color: $dark-text;
		font-weight: 700;
	}
}