.nav {

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		display: block;

		&--active > a {
			color: $brand-color;

			&:hover, &:active, &:focus {
				color: $brand-color;

				background-color: transparent;
			}
		}
	}

	&__link {
		display: block;
		padding: 5px 10px;

		text-transform: initial;
		font-size: 13px;
		color: $white;

		&:hover, &:focus, &:active {
			color: $brand-color;
		}
	}
}


@media screen and (min-width: 771px) {
	.nav {
		display: flex;
		align-items: center;

		&__list {
			flex-direction: row;
			padding: 0;
		}
	}
}

@media screen and (min-width: 888px) {
	.nav {

		&__link {
			text-transform: initial;
		}
	}
}

@media screen and (min-width: 1210px) {
	.nav {

		&__link {
			font-size: 14px;
		}
	}
}