.page-section {
	width: 100%;
	margin-bottom: 80px;

	font-family: $open-sans;

	&__title {
		margin-top: 0;
		display: block;
		margin-bottom: 20px;
		
		text-align: center;
		font-size: 22px;
		font-weight: 700;
		line-height: 32px;
		text-transform: uppercase;
		color: $dark-text;
	}
}


@media screen and (min-width: 480px) {
	.page-section {

		&__title {
			font-size: 32px;
		}
	}
}

@media screen and (min-width: 771px) {
	.page-section {

		&__title {
			margin-bottom: 40px;
		}
	}
}